@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Music 4 You</h1>
    <p class="lead">free Web-App to serve your corporate musical needs</p>
    <p><a href="http://petermcintyre.com/bti420/notes/mar09/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>

 
</div>
