
@{
    ViewBag.Title = "Index";
}

<h2>Load data</h2>

<p>The following actions are supported:</p>
<ul>
    <li>/LoadData/Genre</li>
    <li>/LoadData/Artist</li>
    <li>/LoadData/Album</li>
    <li>/LoadData/Track</li>
    <li>/LoadData/Remove</li>
</ul>
